.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Button1 {
  float: left;
  font-size: xx-large;
  height: 100px;
  width: 100px;
  border: 2px solid #701c1c;
  background-color: white;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  color: #701c1c;
  
}
.Button2 {
  font-size: xx-large;
  float: left;
  height: 100px;
  width: 100px;
  border: 2px solid #701c1c;
  background-color: #701c1c;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  color: white;
}
.Input {
  float: left;
  font-size: xx-large;
  text-align: center;
  height: 94px;
  width: 100px;

  border-left: none;
  border-right: 2px solid #701c1c;
  border-top: 2px solid #701c1c;
  border-bottom: 2px solid #701c1c;
  background-color: #deaa88;
  border-radius: 0%;
  color: #701c1c;
}

.Loading{
  font-weight: "bold";
  left: "45%";
  top: "30%";
  color: "black";
  position: "absolute";
}

.Button1:hover{
  cursor: pointer;
}

.Button2:hover{
  cursor: pointer;
}